button#btn{
  background-color: var(--color-brand);
  cursor: pointer;
  border-radius: .75rem;
  padding: .75rem 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 1rem/1rem var(--font-family);
  color: var(--always-white);
  transition: background-color .5s;

  &:hover {
  background-color: var(--color-brand-hover);
  }
}

