form {
  width: 39.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  & fieldset {
    border: none;
  }

  & .addItem {
    display: flex;
    gap: 1rem;  

    & #textField {
      width: 28.25rem;
    }
    & .btn {
      width: 10rem;
    }
    
  }

}

@media (width < 80em) {
  form {
    width: 20.375rem;
    & fieldset {
      & ul {
        width: 20.375rem;
      }
    }
    & .addItem {
      flex-direction: column;
      & #textField {
        width: 20.375rem;
      }
      & .btn {
        width: 20.375rem;
      }
    }
    
    
  }
}