.warning { 
  margin-top: 2.25rem;
  width: 39.25rem;
  background-color: var(--color-danger);
  padding: .75rem;
  display: flex;
  gap: .75rem;
  align-items: center;
  justify-content: space-between;
  color: var(--always-white);
  border-radius: .75rem;

  & .wrapped-alert {
    display: flex;
    gap: .75rem;
    align-items: center;
  }

  & svg:nth-child(2) {
    cursor: pointer;
  }
}

.warning-off {
  display: none;
}

@media (width < 80em) {
  .warning {
    width: 20.375rem;
  }
}