form {
  & input#textField {
    padding: .75rem 1.125rem;
    border:2px var(--border-primary) solid;
    border-radius: .75rem;
    box-shadow: none;
    background: none;
    background-color: var(--background-secondary);
    outline: 0;
    color: var(--content-secondary);

    &:hover {
    border:2px var(--border-hover) solid;
    }
    &:focus{
      border:2px var(--color-brand) solid;
    }
    &::placeholder {
      color: var(--content-tertiary);
    }
  }

  & input#textField:focus {
    border:2px var(--color-brand) solid;

  }
}